<div class="container">
  <h2>All Posts by <%= current_user.name%></h2>
  <%@all.each do |post|%>
    <div class= "post">
      <h3><a href ="/post/<%=post.id%>"><%=post.title%></a></h3>
      <h4>by <%=post.user.name%></h4>
       <p><%=post.body%></p>


       <% unless post.tags.count == 0 %>

        <p>Tags:</p>
        <%post.tags.to_a.each do |t|%>
        <p><a class="link" href="/tag/<%=t.name%>"><%=t.name%></a></p>
        <%end%>
       <%end%>

       <br>
    </div>
  <%end%>
</div>

<div class='border'>
  <%= erb :_menu %>
</div>

<script src="/js/all.js" type="text/javascript" href=""></script>



