<div class="container">
  <h2>All Posts</h2>
  <%@all.each do |post|%>
    <div class= "post">
      <h3><a href ="/post/<%=post.id%>"><%=post.title%></a></h3>
       <p><%=post.body%></p>
       <p>Tags:</p>
       <%post.tags.to_a.each do |t|%>
       <p><%=t.name%></p>
       <%end%>
       <br>
    </div>
  <%end%>
</div>

<div class='border'>
  <%= erb :_menu %>
</div>




