<div class="container">
  <h2>Juan's Blog</h2>
  <!-- <a href="/create">Create Users</a><br> -->
  <h3><%=@post.title%></h3><br>
   <p><%=@post.body%></p><br>
   <p>Tags: &nbsp;
   <%@tags.each do |t|%>
   <%=t.name%></p>
   <%end%>
   <a class='button' href="/delete/<%=@post.id%>">Delete this Post</a>
</div>

<div class="border">
  <%= erb :_menu %>
</div>


<!-- href="/delete/<%=params[:id]%>" -->
